{"swagger":"2.0","info":{"title":"Default title","description":"This will allow to add RBAC rules and enforce permissions at resource group levels","version":"1.0"},"host":"management.azure.com","basePath":"/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/roleAssignments":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Get RBAC Roles in Subscription","operationId":"Get-RBAC-Roles-In-Subscription","description":"It will get the current rbac roles in a subscription","parameters":[{"name":"subscriptionId","in":"path","required":true,"type":"string","default":"2b36de05-257f-4f45-bd99-1daebb70d74c"},{"name":"$filter","in":"query","required":false,"type":"string","default":"principalId eq '<PRINCIPAL-ID>'"},{"name":"api-version","in":"query","required":false,"type":"string","default":"2022-04-01"}]}},"/subscriptions/{subscriptionId}/resourceGroups":{"get":{"responses":{"default":{"description":"default","schema":{}}},"operationId":"Get-Resource-Groups-In-Subscription","summary":"Gets the current resource groups in subscription","parameters":[{"name":"subscriptionId","in":"path","required":true,"type":"string","default":"2b36de05-257f-4f45-bd99-1daebb70d74c"},{"name":"api-version","in":"query","required":false,"type":"string","default":"2022-06-01"}]}},"/subscriptions/{subscriptionId}/resourceGroups/ralop-test-group-api":{},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}":{"put":{"responses":{"default":{"description":"default","schema":{}}},"operationId":"Create-Resource-Group","summary":"Creates Resource Group in a Subscription","parameters":[{"name":"subscriptionId","in":"path","required":true,"type":"string","default":"2b36de05-257f-4f45-bd99-1daebb70d74c"},{"name":"resourceGroupName","in":"path","required":true,"type":"string","default":"ALIAS-resource-group"},{"name":"api-version","in":"query","required":false,"type":"string","default":"2022-06-01"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"location":{"type":"string","description":"location","title":"","default":"eastus"}}}}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/roleAssignments/{randomRoleAssignmentId}":{"put":{"responses":{"default":{"description":"default","schema":{}}},"operationId":"Add-RBAC-User-To-ResourceGroup","parameters":[{"name":"subscriptionId","in":"path","required":true,"type":"string","default":"2b36de05-257f-4f45-bd99-1daebb70d74c"},{"name":"resourceGroupName","in":"path","required":true,"type":"string","default":"ALIAS-resource-group"},{"name":"randomRoleAssignmentId","in":"path","required":true,"type":"string","default":"RANDOM-GUID"},{"name":"api-version","in":"query","required":false,"type":"string","default":"2022-04-01"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"properties":{"type":"object","properties":{"roleDefinitionId":{"type":"string","description":"roleDefinitionId - role to add","title":"roleDefinitionId","default":"/subscriptions/<Subscription Id>/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635"},"principalId":{"type":"string","description":"principalId - Object Id of the user group","title":"principalId","default":"PRINCIPAL-ID"},"principalType":{"type":"string","description":"principalType - User or Group","title":"principalType","default":"User"}},"description":"properties"}}}}],"summary":"Adds RBAC role to user to access resrouce group"}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Consumption/budgets/mybudget":{"put":{"responses":{"default":{"description":"default","schema":{}}},"operationId":"Add-SpendLimit-To-ResourceGroup","parameters":[{"name":"subscriptionId","in":"path","required":true,"type":"string","default":"2b36de05-257f-4f45-bd99-1daebb70d74c"},{"name":"resourceGroupName","in":"path","required":true,"type":"string","default":"ALIAS-resource-group"},{"name":"api-version","in":"query","required":false,"type":"string","default":"2023-05-01"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"id":{"type":"string","description":"id","title":"","default":"/subscriptions/<SUBSCRIPTION-ID>/resourceGroups/<RESOURCE-GROUP-NAME>/providers/Microsoft.Consumption/budgets/mybudget"},"name":{"type":"string","description":"name","title":"","default":"mybudget"},"type":{"type":"string","description":"type","title":"","default":"Microsoft.Consumption/budgets"},"properties":{"type":"object","properties":{"timePeriod":{"type":"object","properties":{"startDate":{"type":"string","description":"startDate","title":"","default":"2023-06-01T00:00:00Z"}},"description":"timePeriod"},"timeGrain":{"type":"string","description":"timeGrain","title":"","default":"Monthly"},"amount":{"type":"integer","format":"int32","description":"amount","title":"","default":50},"currentSpend":{"type":"string","description":"currentSpend","title":"currentSpend","default":"null"},"category":{"type":"string","description":"category","title":"","default":"Cost"},"notifications":{"type":"object","properties":{"actual_GreaterThan_80_Percent":{"type":"object","properties":{"enabled":{"type":"boolean","description":"enabled","title":"","enum":["",true,false],"default":true},"operator":{"type":"string","description":"operator","title":"","default":"GreaterThan"},"threshold":{"type":"integer","format":"int32","description":"threshold","title":"","default":80},"contactEmails":{"type":"array","items":{"type":"string","title":"Contact Emails","description":"Enter Array here [\"email1\", \"email2\"]"},"description":"contactEmails"},"contactRoles":{"type":"array","items":{"type":"string","title":"Contact Roles","description":"[\"Owner\",\"Contributor\"]"},"description":"contactRoles"}},"description":"actual_GreaterThan_80_Percent"}},"description":"notifications"}},"description":"properties"}}}}],"summary":"Add Sepending Limit","description":"Add spending limit"}},"/subscriptions":{"get":{"responses":{"default":{"description":"default","schema":{}}},"operationId":"Get-All-Subscriptions","summary":"Gets all susbcriptions","description":"get all subscriptions","parameters":[{"name":"api-version","in":"query","required":false,"type":"string","default":"2021-04-01"}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"oauth2-auth":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://login.microsoftonline.com/common/oauth2/authorize","tokenUrl":"https://login.windows.net/common/oauth2/authorize","scopes":{"https://management.azure.com//.default":"https://management.azure.com//.default"}}},"security":[{"oauth2-auth":["https://management.azure.com//.default"]}],"tags":[]}