{"swagger":"2.0","info":{"version":"1.0.0","title":"Graph API Custom Connector","description":"Graph Licensing Custom Connector"},"host":"graph.microsoft.com","basePath":"/","schemes":["https"],"consumes":[],"produces":["application/json"],"paths":{"/v1.0/subscribedSkus":{"get":{"summary":"AvailableSKUs","description":"AvailableSKUs","operationId":"AvailableSKUs","parameters":[],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"value":{"type":"array","items":{"type":"object","properties":{"capabilityStatus":{"type":"string","description":"capabilityStatus"},"consumedUnits":{"type":"integer","format":"int32","description":"consumedUnits"},"id":{"type":"string","description":"id"},"skuId":{"type":"string","description":"skuId"},"skuPartNumber":{"type":"string","description":"skuPartNumber"},"appliesTo":{"type":"string","description":"appliesTo"},"prepaidUnits":{"type":"object","properties":{"enabled":{"type":"integer","format":"int32","description":"enabled"},"suspended":{"type":"integer","format":"int32","description":"suspended"},"warning":{"type":"integer","format":"int32","description":"warning"}},"description":"prepaidUnits"},"servicePlans":{"type":"array","items":{"type":"object","properties":{"servicePlanId":{"type":"string","description":"servicePlanId"},"servicePlanName":{"type":"string","description":"servicePlanName"},"provisioningStatus":{"type":"string","description":"provisioningStatus"},"appliesTo":{"type":"string","description":"appliesTo"}}},"description":"servicePlans"}}},"description":"value"}}}}}}},"/v1.0/users/{userId}/assignLicense":{"post":{"summary":"AddRemoveLicense","description":"AddRemoveLicense","operationId":"AddRemoveLicense","parameters":[{"name":"userId","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","description":"Content-Type"},{"name":"body","in":"body","schema":{"type":"object","properties":{"addLicenses":{"type":"array","items":{"type":"object","properties":{"skuId":{"type":"string","description":"Sku ID To Add","title":"License SKU Id To Add"}}},"description":"addLicenses"},"removeLicenses":{"type":"array","items":{"type":"string","description":"License To Remove","title":"License SKU Id To Remove"},"description":"removeLicenses"}},"default":{"addLicenses":[{"skuId":"{{licenseSkuIdToAssign}}"}],"removeLicenses":["{{licenseSkuIdToRemove}}"]}},"required":true}],"responses":{"default":{"description":"default","schema":{}}}}},"/v1.0/me/licenseDetails":{"get":{"summary":"GetMyLicenses","description":"GetMyLicenses","operationId":"GetMyLicenses","parameters":[],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"value":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"skuId":{"type":"string","description":"skuId"},"skuPartNumber":{"type":"string","description":"skuPartNumber"},"servicePlans":{"type":"array","items":{"type":"object","properties":{"servicePlanId":{"type":"string","description":"servicePlanId"},"servicePlanName":{"type":"string","description":"servicePlanName"},"provisioningStatus":{"type":"string","description":"provisioningStatus"},"appliesTo":{"type":"string","description":"appliesTo"}}},"description":"servicePlans"}}},"description":"value"}}}}}}},"/v1.0/users/{userId}/licenseDetails":{"get":{"summary":"GetUserLicenses","description":"GetUserLicenses","operationId":"GetUserLicenses","parameters":[{"name":"userId","in":"path","type":"string","required":true,"description":"UPN or Azure Object Id of User","x-ms-summary":"User Id of User. UPN or Azure Object Id"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"value":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"skuId":{"type":"string","description":"skuId"},"skuPartNumber":{"type":"string","description":"skuPartNumber"},"servicePlans":{"type":"array","items":{"type":"object","properties":{"servicePlanId":{"type":"string","description":"servicePlanId"},"servicePlanName":{"type":"string","description":"servicePlanName"},"provisioningStatus":{"type":"string","description":"provisioningStatus"},"appliesTo":{"type":"string","description":"appliesTo"}}},"description":"servicePlans"}}},"description":"value"}}}}}}},"/v1.0/users":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"GetAllUsers","description":"Gets all users with other emails and manager","operationId":"GetAllUsers","parameters":[{"name":"$select","in":"query","required":false,"type":"string","default":"id,displayName,userPrincipalName,otherMails,signInActivity,customSecurityAttributes"},{"name":"$expand","in":"query","required":false,"type":"string","default":"manager($select=id,userPrincipalName)"},{"name":"$skiptoken","in":"query","required":false,"type":"string","default":null}]},"post":{"summary":"CreateUser","description":"CreateUser","operationId":"CreateUser","parameters":[{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"accountEnabled":{"type":"boolean","description":"accountEnabled","title":"Account Enabled","enum":["",true,false],"default":true},"displayName":{"type":"string","description":"displayName","title":"Display Name"},"mailNickname":{"type":"string","description":"Same as Username","title":"Mail Nickname"},"userPrincipalName":{"type":"string","description":"userPrincipalName","title":"User Email"},"usageLocation":{"type":"string","description":"US, JP, GP, etc","title":"Usage Location AD","default":"US"},"passwordProfile":{"type":"object","properties":{"forceChangePasswordNextSignIn":{"type":"boolean","description":"forceChangePasswordNextSignIn","title":"Force Change Password","enum":["",true,false],"default":true},"password":{"type":"string","description":"password"}},"description":"passwordProfile"},"otherMails":{"type":"array","items":{"type":"string","description":"Other Emails To Associate","title":"MSFT Email and UPN"},"description":"AssociateMSFTEmails"},"customSecurityAttributes":{"type":"object","properties":{"PFECRMOnlineExtensions":{"type":"object","title":"PFECRMOnlineExtensionObject"}}}}}}],"responses":{"default":{"description":"default","schema":{}}}}},"/v1.0/roleManagement/directory/roleAssignments":{"get":{"summary":"GetRoleAssignmentOfUser","description":"GetRoleAssignmentOfUser","operationId":"GetRoleAssignmentOfUser","parameters":[{"name":"$filter","in":"query","required":false,"type":"string","default":"principalId eq '{{userId}}'"},{"name":"$expand","in":"query","required":false,"type":"string","default":"roleDefinition"},{"name":"$skipToken","in":"query","type":"string","required":false}],"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"value":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"principalId":{"type":"string","description":"principalId"},"directoryScopeId":{"type":"string","description":"directoryScopeId"},"roleDefinitionId":{"type":"string","description":"roleDefinitionId"},"roleDefinition":{"type":"object","properties":{"id":{"type":"string","description":"id"},"description":{"type":"string","description":"description"},"displayName":{"type":"string","description":"displayName"},"isBuiltIn":{"type":"boolean","description":"isBuiltIn"},"isEnabled":{"type":"boolean","description":"isEnabled"},"resourceScopes":{"type":"array","items":{"type":"string"},"description":"resourceScopes"},"templateId":{"type":"string","description":"templateId"},"version":{"type":"string","description":"version"},"rolePermissions":{"type":"array","items":{"type":"object","properties":{"allowedResourceActions":{"type":"array","items":{"type":"string"},"description":"allowedResourceActions"},"condition":{"type":"string","description":"condition"}}},"description":"rolePermissions"}},"description":"roleDefinition"}}},"description":"value"}}}}}},"post":{"summary":"AddAdminRoleToUser","description":"AddAdminRoleToUser","operationId":"AddAdminRoleToUser","parameters":[{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"@odata.type":{"type":"string","description":"@odata.type","title":"","default":"#microsoft.graph.unifiedRoleAssignment"},"principalId":{"type":"string","description":"User Azure Object Id","title":"User ID"},"roleDefinitionId":{"type":"string","description":"roleDefinitionId","title":"Role Id"},"directoryScopeId":{"type":"string","description":"directoryScopeId","title":"","default":"/"}}}}],"responses":{"default":{"description":"default","schema":{}}}}},"/v1.0/roleManagement/directory/roleAssignments/{roleAssignmentId}":{"delete":{"summary":"DeleteRoleAssignment","description":"DeleteRoleAssignment","operationId":"DeleteRoleAssignment","parameters":[{"name":"roleAssignmentId","in":"path","type":"string","required":true,"description":"The Role Assignment of the license. Not a GUID"}],"responses":{"default":{"description":"default","schema":{}}}}},"/beta/roleManagement/directory/roleAssignmentScheduleRequests":{"post":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"id":{"type":"string","description":"id"},"status":{"type":"string","description":"status"},"createdDateTime":{"type":"string","description":"createdDateTime"},"completedDateTime":{"type":"string","description":"completedDateTime"},"approvalId":{"type":"string","description":"approvalId"},"customData":{"type":"string","description":"customData"},"action":{"type":"string","description":"action"},"principalId":{"type":"string","description":"principalId"},"roleDefinitionId":{"type":"string","description":"roleDefinitionId"},"directoryScopeId":{"type":"string","description":"directoryScopeId"},"appScopeId":{"type":"string","description":"appScopeId"},"isValidationOnly":{"type":"boolean","description":"isValidationOnly"},"targetScheduleId":{"type":"string","description":"targetScheduleId"},"justification":{"type":"string","description":"justification"},"createdBy":{"type":"object","properties":{"application":{"type":"string","description":"application"},"device":{"type":"string","description":"device"},"user":{"type":"object","properties":{"displayName":{"type":"string","description":"displayName"},"id":{"type":"string","description":"id"}},"description":"user"}},"description":"createdBy"},"scheduleInfo":{"type":"object","properties":{"startDateTime":{"type":"string","description":"startDateTime"},"recurrence":{"type":"string","description":"recurrence"},"expiration":{"type":"object","properties":{"type":{"type":"string","description":"type"},"endDateTime":{"type":"string","description":"endDateTime"},"duration":{"type":"string","description":"duration"}},"description":"expiration"}},"description":"scheduleInfo"},"ticketInfo":{"type":"object","properties":{"ticketNumber":{"type":"string","description":"ticketNumber"},"ticketSystem":{"type":"string","description":"ticketSystem"}},"description":"ticketInfo"}}}}},"operationId":"AddAdminRoleWithExpiration","summary":"Add Admin Role With Expiration","description":"Adds admin role with expiration using managed identities","parameters":[{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"action":{"type":"string","description":"Action: so far only AdminAssign, possibly AdminExtent?","title":"Action","default":"AdminAssign"},"justification":{"type":"string","description":"Justification on why this role needs to be granted","title":"Justification"},"directoryScopeId":{"type":"string","description":"keep at '/' default","title":"Direct Scope Id","default":"/"},"principalId":{"type":"string","description":"Azure Object Id for the user to Assign","title":"Principal Id"},"roleDefinitionId":{"type":"string","description":"The admin role to temporarily give access to","title":"Role Definition Id"},"scheduleInfo":{"type":"object","properties":{"startDateTime":{"type":"string","description":"UTC Time on when to start access","title":"Start Date Time"},"expiration":{"type":"object","properties":{"type":{"type":"string","description":"Leave at after duration","title":"After Duration","default":"AfterDuration"},"duration":{"type":"string","description":"Duration of how long to assign PT format: PT30M (30 minutes)   PT6H30M (6 hrs, 30 mins) PT1D  (1 day)","title":"Duration","default":"PT4H"}},"description":"expiration"}},"description":"scheduleInfo"}}}}]}},"/v1.0/groups":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"value":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"deletedDateTime":{"type":"string","description":"deletedDateTime"},"classification":{"type":"string","description":"classification"},"createdDateTime":{"type":"string","description":"createdDateTime"},"creationOptions":{"type":"array","items":{},"description":"creationOptions"},"description":{"type":"string","description":"description"},"displayName":{"type":"string","description":"displayName"},"expirationDateTime":{"type":"string","description":"expirationDateTime"},"groupTypes":{"type":"array","items":{},"description":"groupTypes"},"isAssignableToRole":{"type":"string","description":"isAssignableToRole"},"mail":{"type":"string","description":"mail"},"mailEnabled":{"type":"boolean","description":"mailEnabled"},"mailNickname":{"type":"string","description":"mailNickname"},"membershipRule":{"type":"string","description":"membershipRule"},"membershipRuleProcessingState":{"type":"string","description":"membershipRuleProcessingState"},"onPremisesDomainName":{"type":"string","description":"onPremisesDomainName"},"onPremisesLastSyncDateTime":{"type":"string","description":"onPremisesLastSyncDateTime"},"onPremisesNetBiosName":{"type":"string","description":"onPremisesNetBiosName"},"onPremisesSamAccountName":{"type":"string","description":"onPremisesSamAccountName"},"onPremisesSecurityIdentifier":{"type":"string","description":"onPremisesSecurityIdentifier"},"onPremisesSyncEnabled":{"type":"string","description":"onPremisesSyncEnabled"},"preferredDataLocation":{"type":"string","description":"preferredDataLocation"},"preferredLanguage":{"type":"string","description":"preferredLanguage"},"proxyAddresses":{"type":"array","items":{},"description":"proxyAddresses"},"renewedDateTime":{"type":"string","description":"renewedDateTime"},"resourceBehaviorOptions":{"type":"array","items":{},"description":"resourceBehaviorOptions"},"resourceProvisioningOptions":{"type":"array","items":{},"description":"resourceProvisioningOptions"},"securityEnabled":{"type":"boolean","description":"securityEnabled"},"securityIdentifier":{"type":"string","description":"securityIdentifier"},"theme":{"type":"string","description":"theme"},"visibility":{"type":"string","description":"visibility"},"onPremisesProvisioningErrors":{"type":"array","items":{},"description":"onPremisesProvisioningErrors"}}},"description":"value"}}}}},"operationId":"GetGroupId","description":"Returns an array of '1' if it finds a group with matching name","summary":"Find Group Details","parameters":[{"name":"$filter","in":"query","required":false,"type":"string","default":"displayName eq '{{ group name encoded }}'","description":"Group name"}]}},"/beta/users":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Find MS User In PFE Tenant","description":"Find MSFT User in PFECRMONLINE","operationId":"FindMSUserInPFEOnline","parameters":[{"name":"$count","in":"query","required":false,"type":"boolean","description":"only when querying arrays in custom event attributes set to true"},{"name":"$select","in":"query","required":false,"type":"string","default":"id,displayName,userPrincipalName,otherMails,customSecurityAttributes"},{"name":"$filter","in":"query","required":false,"type":"string","default":"customSecurityAttributes/PFECRMOnlineExtensions/microsoftEmails eq 'ENTER MS EMAIL'"},{"name":"ConsistencyLevel","in":"header","required":false,"type":"string"}]}},"/v1.0/users/{userObjectId}":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"GetPFEUserDetails","description":"Get user in PFECRMOnline tenant based on Microsoft email","operationId":"GetPFEUserDetails","parameters":[{"name":"userObjectId","in":"path","required":true,"type":"string","default":"User-Azure-Object-GUID","description":"Enter PFECRMOnline user object id"},{"name":"$select","in":"query","required":false,"type":"string","default":"id,displayName,userPrincipalName,otherMails,customSecurityAttributes"},{"name":"$expand","in":"query","required":false,"type":"string","default":"manager($select=id,userPrincipalName)"}]},"patch":{"responses":{"default":{"description":"default","schema":{}}},"operationId":"UpdateUser","summary":"Update User","description":"Can be leveraged to reset password, associate to accounts etc","parameters":[{"name":"userObjectId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"passwordProfile":{"type":"object","properties":{"forceChangePasswordNextSignIn":{"type":"boolean","description":"forceChangePasswordNextSignIn","title":"forceChangePasswordNextSignIn","enum":["",true,false]},"password":{"type":"string","description":"password"}},"description":"passwordProfile"},"otherMails":{"type":"array","items":{"type":"string","title":"otherMails"},"description":"otherMails"},"manager":{"type":"string","description":"manager - account owning it","title":"manager"},"accountEnabled":{"type":"boolean","description":"to enable or disaable account","title":"accountEnabled"},"customSecurityAttributes":{"type":"object","properties":{"PFECRMOnlineExtensions":{"type":"object","title":"PFECRMOnlineExtensionObject"}}}}}}]}},"/v1.0/users/{user-id}":{"delete":{"responses":{"default":{"description":"default","schema":{}}},"operationId":"Delete-User","summary":"Delete User","parameters":[{"name":"user-id","in":"path","required":true,"type":"string","default":"Principal Id or UPN"}]}},"/v1.0/users/{userPrincipalId}/manager/$ref":{},"/v1.0/auditLogs/directoryAudits":{"get":{"responses":{"default":{"description":"default","schema":{}}},"operationId":"Get-User-Creation-Info","summary":"Get User Created Info","description":"Queries logs to know who created user account","parameters":[{"name":"$filter","in":"query","required":false,"type":"string","default":"activityDisplayName eq 'Add user' and targetResources/any(r:r/userPrincipalName eq '<user Email>')"},{"name":"$skiptoken","in":"query","required":false,"type":"string"}]}},"/v1.0/roleManagement/directory/roleAssignmentScheduleRequests":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"GetAssignmentsExpiry","description":"GetAssignmentsExpiry","operationId":"GetAssignmentsExpiry","parameters":[{"name":"$filter","in":"query","required":false,"type":"string","default":"principalId eq '{userId}' and status eq 'Provisioned' and roleDefinitionId eq '{roleId}'"},{"name":"$orderby","in":"query","required":true,"type":"string","default":"createdDateTime desc","x-ms-visibility":"internal"},{"name":"$top","in":"query","required":true,"type":"integer","default":5,"x-ms-visibility":"internal"}]}},"/beta/users/{userId}":{"get":{"responses":{"default":{"description":"default","schema":{}}},"operationId":"GetUserDetailsV2","summary":"Gets User Details","parameters":[{"name":"userId","in":"path","required":true,"type":"string","default":"ENTER USER UPN OR ID HERE"},{"name":"$select","in":"query","required":false,"type":"string","default":"id,displayName,userPrincipalName,otherMails,customSecurityAttributes"},{"name":"$expand","in":"query","required":false,"type":"string","default":"manager($select=id,userPrincipalName)"}]}},"/beta/rolemanagement/directory/transitiveRoleAssignments":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"GetRoleAssignmentOfUserV2","operationId":"GetRoleAssignmentOfUserV2","parameters":[{"name":"$count","in":"query","required":true,"type":"boolean","default":true,"x-ms-visibility":"internal"},{"name":"$filter","in":"query","required":false,"type":"string","default":"principalId eq '{User-ID}'"},{"name":"Consistencylevel","in":"header","required":true,"type":"string","default":"Eventual","x-ms-visibility":"internal"}]}},"/beta/roleManagement/directory/roleDefinitions/{roleDefinitionId}":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"GetAdminRoleInfo","operationId":"GetAdminRoleInfo","parameters":[{"name":"roleDefinitionId","in":"path","required":true,"type":"string","default":"{'RoleDefinitionId'}"},{"name":"$select","in":"query","required":false,"type":"string","default":"id,displayName,description"}]}},"/beta/users/{userId}/authentication/methods/resetTraditionalAuthenticationMethods":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"ResetMFA","operationId":"ResetMFA","parameters":[{"name":"userId","in":"path","required":true,"type":"string","default":"<ENTER PFECRMOnline UserId>"}],"description":"Reset MFA authetnication methods"}},"/v1.0/users/{userId}/authentication/methods":{},"/v1.0/users/{userId}/authentication/microsoftAuthenticatorMethods":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"List-Auth-Methods","operationId":"List-Auth-Methods","parameters":[{"name":"userId","in":"path","required":true,"type":"string","default":"GUID OR EMAIL","x-ms-visibility":"important"}]}},"/v1.0/users/{userId}/authentication/microsoftAuthenticatorMethods/{methodId}":{"delete":{"responses":{"default":{"description":"default","schema":{}}},"parameters":[{"name":"userId","in":"path","required":true,"type":"string","default":"GUID OR EMAIL","x-ms-visibility":"important"},{"name":"methodId","in":"path","required":true,"type":"string","default":"GUID","x-ms-visibility":"important"}],"summary":"Delete-Auth-Method","operationId":"Delete-Auth-Method"}},"/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/roleDefinitions":{},"/v1.0/roleManagement/directory/roleDefinitions":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"GetRoleDefinitions","operationId":"GetRoleDefinitions","parameters":[{"name":"$select","in":"query","required":true,"type":"string","default":"=id,displayName","x-ms-visibility":"important"}]}},"/beta/roleManagement/directory/roleAssignmentScheduleInstances":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"GetActiveRolesExpiration","operationId":"GetActiveRolesExpiration","parameters":[{"name":"$filter","in":"query","required":true,"type":"string","default":"principalId eq 'GUID-USER'","x-ms-visibility":"important"}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"oauth2-auth":{"type":"oauth2","flow":"accessCode","tokenUrl":"https://login.windows.net/common/oauth2/authorize","scopes":{"https://graph.microsoft.com/Directory.ReadWrite.All https://graph.microsoft.com/User.ReadWrite.All https://graph.microsoft.com/RoleManagement.Read.All https://graph.microsoft.com/RoleManagement.ReadWrite.Directory https://graph.microsoft.com/CustomSecAttributeAssignment.ReadWrite.All https://graph.microsoft.com/CustomSecAttributeDefinition.ReadWrite.All https://graph.microsoft.com/AuditLog.Read.All https://graph.microsoft.com/UserAuthenticationMethod.ReadWrite.All":"https://graph.microsoft.com/Directory.ReadWrite.All https://graph.microsoft.com/User.ReadWrite.All https://graph.microsoft.com/RoleManagement.Read.All https://graph.microsoft.com/RoleManagement.ReadWrite.Directory https://graph.microsoft.com/CustomSecAttributeAssignment.ReadWrite.All https://graph.microsoft.com/CustomSecAttributeDefinition.ReadWrite.All https://graph.microsoft.com/AuditLog.Read.All https://graph.microsoft.com/UserAuthenticationMethod.ReadWrite.All"},"authorizationUrl":"https://login.microsoftonline.com/common/oauth2/authorize"}},"security":[{"oauth2-auth":["https://graph.microsoft.com/Directory.ReadWrite.All https://graph.microsoft.com/User.ReadWrite.All https://graph.microsoft.com/RoleManagement.Read.All https://graph.microsoft.com/RoleManagement.ReadWrite.Directory https://graph.microsoft.com/CustomSecAttributeAssignment.ReadWrite.All https://graph.microsoft.com/CustomSecAttributeDefinition.ReadWrite.All https://graph.microsoft.com/AuditLog.Read.All https://graph.microsoft.com/UserAuthenticationMethod.ReadWrite.All"]}],"tags":[]}